# Build directories
build/
build-cpu/
out/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
*.cmake
!CMakeLists.txt

# Qt / MOC generated
*_autogen/
moc_*.cpp
qrc_*.cpp
ui_*.h

# Binaries / objects
*.exe
*.obj
*.o
*.pdb
*.ilk
*.exp
*.lib

# IDE
.vs/
.vscode/
*.user
